@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0.1deg);
  }
}

@keyframes updown {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 1px;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    bottom: 200px;
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
    bottom: 60px;
  }
}

@keyframes leave {
  0% {
    transform: rotate(-90deg);
    opacity: 1;
    bottom: 60px;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
    bottom: 200px;
  }
}

@keyframes goup {
  0% {
    bottom: 90px;
  }
  100% {
    bottom: 250px;
  }
}

@keyframes godown {
  0% {
    bottom: 250px;
  }
  100% {
    bottom: 90px;
  }
}

.robot-main-container {
  height: 500px;
  width: 976px;
  position: relative;
  margin-bottom: 16px;
}

.robot-conveyor-belt {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-image: url("../../../public/images/conveyor-belt.png");
  background-position-x: 50%;
}
.robot-conveyor-belt.on {
  animation-name: wiggle;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  transition: all 0.2s ease;
}

.robot-generator {
  z-index: 6;
  position: absolute;
  bottom: 0px;
  left: -15px;
  width: 200px;
  height: 300px;
  background-image: url("../../../public/images/generator.png");
  background-position-x: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.robot-generator.on {
  animation-name: updown;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  transition: all 0.2s ease;
}

.robot-final-box {
  position: absolute;
  bottom: 200px;
  right: -60px;
  width: 200px;
  height: 120px;
  z-index: 8;
  transform: rotate(0deg);
  background-image: url("../../../public/images/final-box.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation-name: leave;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition: all 0.2s ease;
}

.robot-final-box.on {
  opacity: 1;
  bottom: 60px;
  transform: rotate(-90deg);
  animation-name: enter;
}

.robot-drill {
  position: absolute;
  bottom: 250px;
  left: 400px;
  height: 200px;
  width: 200px;
  z-index: 2;
  background-image: url("../../../public/images/drill.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition: all 0.5s ease;
  animation-name: goup;
}

.robot-drill.on {
  bottom: 90px;
  animation-name: godown;
}

.robot-t1,
.robot-t2,
.robot-e1,
.robot-e2 {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 10;
}
.robot-sensor-span {
  color: #fbfff1;
  font-size: 12px;
  text-align: center;
}
.robot-e1,
.robot-e2 {
  background-color: #efa00b;
}
.robot-t1,
.robot-t2 {
  background-color: #d65108;
}

.robot-t1 {
  right: 330px;
  top: 70px;
}
.robot-t2 {
  right: 330px;
  bottom: 240px;
}
.robot-e1 {
  bottom: 10px;
  left: 485px;
}
.robot-e2 {
  bottom: 10px;
  right: 130px;
}

.robot-piece {
  z-index: 4;
  position: absolute;
  bottom: 50px;
  left: 80px;
  width: 100px;
  height: 100px;
  z-index: 5;
  background-image: url("../../../public/images/piece.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

@keyframes pieceprocess {
    0% {
        left: 80px;
    }
    25%{
        left: 480px;
    }
    75%{
        left: 480px;
    }
    100% {
      left: 880px;
    }
  }

.robot-piece.on {
    left: 880px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: all 0.5s ease;
    animation-name: pieceprocess;
    opacity: 1;
  }

